/* Global Setting */
:root {
  --mainColor: #572671;
  --supColor: #311440;
  --bgColor: #F1EDF3;
  --fontColor1: #A3D1CC;
  --fontColor2: #0A020E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--fontColor2);
  font-family: 'Times New Roman', Times, serif;
}

header {
  margin-bottom: 30px;
}

section {
  padding-top: 60px;
  margin: 40px auto;
}

a, h1, h2, h3, h4, h5, h6, i {
  font-weight: bold;
  color: var(--mainColor);
}

.section-head {
  margin: 0;
  opacity: 0.4;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  color: var(--mainColor);
}

/* Scrollbar Setting */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bgColor);
}

::-webkit-scrollbar-thumb {
  cursor: grab;
  background: var(--mainColor);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mainColor);
}

/* Start Navbar */

.navbar {
  z-index: 9999;
  background: transparent;
  transition: background 0.3s, box-shadow 0.3s;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, box-shadow 0.3s;
  -ms-transition: background 0.3s, box-shadow 0.3s;
  -o-transition: background 0.3s, box-shadow 0.3s;
}

.nav-link,
.dropdown-toggle,
.nav-link:focus,
.dropdown-toggle:focus,
.navbar-nav .nav-link.show {
  color: var(--fontColor1);
}

.nav-link:hover,
.nav-link.active {
  text-decoration: underline;
  color: var(--fontColor1) !important;
}

nav .dropdown-menu {
  background: var(--mainColor);
  border-color: var(--supColor);
}

nav .dropdown-menu .dropdown-divider {
  border-color: var(--supColor);
}

nav .dropdown-menu .dropdown-item {
  color: var(--fontColor1);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

nav .dropdown-menu .dropdown-item:hover,
nav .dropdown-menu .dropdown-item:active,
nav .dropdown-menu .dropdown-item:focus {
  background: none;
  padding-left: 25px;
}

nav .navbar-toggler,
nav .navbar-toggler i {
  border: none;
  color: var(--fontColor1);
}

/* End Navbar */

/* Start Slider */

.slider {
  height: 100vh;
  max-height: 768px;
  position: relative;
  background: url(../images/landing.jpg);
  background-size: cover;
}

.slider h1,
.slider p {
  color: var(--fontColor1);
}

.slider h1 {
  font-size: 5vw;
}

.slider p {
  font-size: 2vw;
}

.slider .overlay {
  top: 50%;
  left: 50%;
  width: 100%;
  opacity: 0.6;
  height: 100%;
  padding: 0 25px;
  text-align: center;
  position: absolute;
  background: #000;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.slider .overlay .overlay-text {
  letter-spacing: 2px;
  opacity: 1;
}

/* End Slider */

/* Start Value */

.value {
  margin: 0;
  padding: 40px;
  background: var(--bgColor);
}

/* End Value */

/* Start Services */

.services-card {
  cursor: pointer;
}

.hvr-reveal:before {
  border-color: var(--supColor);
}

/* End Services */

/* Start Portfolio */
.portfolio {
  padding-bottom: 50px;
  background: var(--bgColor);
}

.img-box {
  height: 300px;
  margin-top: 60px;
  overflow: hidden;
  margin-bottom: 60px;
  position: relative;
}

.img-item {
  z-index: 1;
  width: 20vw;
  position: absolute;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.images-item-1 {
  left: 85%;
}

.images-item-2 {
  left: 70%;
}

.images-item-3 {
  left: 50%;
  z-index: 3;
  width: 40vw;
}

.images-item-4 {
  left: 30%;
}

.images-item-5 {
  left: 15%;
}

.images-item-1,
.images-item-5 {
  z-index: 1;
  width: 20vw;
  opacity: 0.35;
}

.images-item-2,
.images-item-4 {
  z-index: 2;
  width: 30vw;
  opacity: 0.7;
}

.images-item-1,
.images-item-2,
.images-item-3,
.images-item-4,
.images-item-5 {
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.images-controls {
  height: 60px;
  display: flex;
  margin: 25px 0;
  justify-content: center;
}

.images-controls button {
  width: 150px;
  opacity: 0.7;
  margin: 0 50px;
  cursor: pointer;
  font-size: 30px;
  padding: 0 12px;
  color: var(--fontColor1);
  text-transform: capitalize;
  background: var(--supColor);
  border: 5px solid var(--mainColor);
}

.images-controls button:hover {
  opacity: 1;
}

.images-controls-button:focus {
  outline: none;
}

.images-controls-previous,
.images-controls-next {
  position: relative;
}

.images-controls-previous::before,
.images-controls-next::before {
  width: 5px;
  content: "";
  height: 5px;
  padding: 10px;
  position: absolute;
  display: inline-block;
  border: solid var(--mainColor);
  border-width: 0 5px 5px 0;
}

.images-controls-previous::before {
  top: 10%;
  left: -35px;
  transform: rotate(135deg) translateY(-50%);
  -webkit-transform: rotate(135deg) translateY(-50%);
  -moz-transform: rotate(135deg) translateY(-50%);
  -ms-transform: rotate(135deg) translateY(-50%);
  -o-transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  -webkit-transition: left 0.15s ease-in-out;
  -moz-transition: left 0.15s ease-in-out;
  -ms-transition: left 0.15s ease-in-out;
  -o-transition: left 0.15s ease-in-out;
}

.images-controls-next::before {
  top: 45%;
  right: -35px;
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -moz-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  -o-transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  -webkit-transition: right 0.15s ease-in-out;
  -moz-transition: right 0.15s ease-in-out;
  -ms-transition: right 0.15s ease-in-out;
  -o-transition: right 0.15s ease-in-out;
}

.images-controls-previous:hover::before {
  left: -40%;
}

.images-controls-next:hover::before {
  right: -40%;
}

/* End Portfolio */

/* Start About */

.about .img-about img {
  border: none;
  margin-bottom: 25px;
}

.about .about-text hr {
  width: 50%;
  opacity: 1;
  border-width: 3px;
  display: inline-block;
  border-color: var(--mainColor);
}

.about .about-text p {
  line-height: 2;
}

.about .about-text .p1 {
  font-size: 20px;
}

/* End About */

/* Start Contact */

.contact {
  margin-bottom: 0;
  background: var(--bgColor);
}

.contact .info {
  padding-top: 50px;
}

.contact .info .label {
  font-size: 2.5vw;
  font-weight: bold;
  color: var(--mainColor);
}

.contact .info a {
  font-size: 3vw;
  font-weight: bold;
  text-decoration: none;
  color: var(--fontColor2);
}

.contact .info a:hover {
  color: var(--mainColor);
  text-decoration: underline;
}

.contact .info .social {
  font-size: 2vw;
  margin-top: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  color: var(--fontColor2);
}

.contact .info .social i {
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.contact .info .social a {
  font-size: 1.5vw;
  margin-left: 10px;
}

.contact .info .social a:hover i {
  font-size: 2vw;
}

/* End Contact */

/* Start Footer */

footer {
  margin: 0;
  padding: 15px 0;
  font-size: 1.5vw;
  color: var(--fontColor1);
  background: var(--mainColor);
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: var(--fontColor1);
}

footer a:hover {
  text-decoration: underline;
}

/* End Footer */

/* Start Global Section */

.up-button {
  opacity: 0;
  right: 15px;
  z-index: 10;
  bottom: 15px;
  font-size: 30px;
  position: fixed;
  padding: 5px 10px;
  background: var(--bgColor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.up-button.visible {
  opacity: 1;
}

.themes {
  right: -140px;
  top: 100px;
  z-index: 10;
  padding: 5px;
  position: fixed;
  background-color: var(--bgColor);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.themes .toggle_icon {
  top: 0;
  left: -35px;
  cursor: pointer;
  position: absolute;
}

.themes .toggle_icon i {
  background: var(--bgColor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.themes ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.themes h5 {
  color: var(--fontColor2);
}

.themes ul li {
  margin: 3px;
  font-size: 20px;
  cursor: pointer;
}

.themes ul li i {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* End Global Section */